<div id="header">

    <div class="foodImage">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowFirst" src="./assets/image/hotDog.jpg">

    </div>
    <div class="foodImage">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">
        <img class="imageFoodRowSecond" src="./assets/image/hotDog.jpg">


    </div>

</div>

<nav>
    <ul>
        <li><a routerLink="">MENU</a></li>
        <li>CATERING</li>
        <li>ABOUT US</li>
        <li><a routerLink="/contact">CONTACT</a></li>
    </ul>
</nav>


<router-outlet>